@using System.Net
@using MarketApp.Client.Services
@inject IProductService ProductService

@if (ProductService.Products == null || ProductService.Products.Count == 0)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <ul class="list-styled">
        @foreach (var product in ProductService.Products)
        {
            <li class="media my-3">
                <div class="media-img-wrapper">
                    <a href="/product/@product.Id">
                        <img class="media-img" src="@product.ImageUrl" alt="@product.Title"/>
                    </a>
                </div>
                <body class="media-body m-xl-5">
                <a href="/product/@product.Id">
                    <h4 class="mb-0">@product.Title</h4>
                </a>
                <p>@product.Description</p>
                <h5 class="price">
                    $@product.Price
                </h5>
                </body>
            </li>
        }
    </ul>
}


@code {

    protected override async Task OnInitializedAsync()
    {
        await ProductService.GetProducts();
    }

}