.media-img[b-17j7qvt7qj] {
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
    margin-right: 10px;
}
    .media-img:hover[b-17j7qvt7qj]{
        transform: scale(1.5);
    }

.media[b-17j7qvt7qj] {
    display: flex;
    align-items: flex-start;
}

.media-body[b-17j7qvt7qj] {
    flex: 1;
}
    
.media-img-wrapper[b-17j7qvt7qj] {
    width: 200px;
    text-align: center;
}

.price[b-17j7qvt7qj] {
    color: green;
}

@media (max-width: 1024px) {
    .media[b-17j7qvt7qj] {
        flex-direction: column;
    }
    
    .media-img-wrapper[b-17j7qvt7qj] {
        width: 100%;
        height: auto;
    }
}